page-tela-jogo {
 .tr-casa{
  background: black;
 }
 .tr-casa-bonus{
  background: linear-gradient(#ff00cc, #333399);
 }
 ion-icon{
   color:#f8b500;
   font-size:180%;
 }

 .color-confirm{
  background-color: orangered;
}
}
